#orgnial DATABASE_URL="https://api.exchangerate-api.com/v4/latest/"
#DATABASE_URL=postgresql://postgres:Shamma1gamma3goo!@db.osxtdllhhaeedfygtunl.supabase.co:5432/postgres
#wierd password DATABASE_URL=postgresql://postgres:ghp_OGqcdpGNswlkcQmuJF5p3nDkH20ZBl3r9xXG@db.osxtdllhhaeedfygtunl.supabase.co:5432/postgres
#render one DATABASE_URL=postgresql://postgres.osxtdllhhaeedfygtunl:Shamma1gamma3goo!@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
#API_KEY="9ea12d667dbda46fd01fd9a2"
#FLASK_ENV=development
#FLASK_DEBUG=1
